.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 0;
}
.footer-link {
  margin-right: 12px;
}
.email-link {
  fill: white;
}
.linkedin-link {
  fill: #0e76a8;
}
.whatsapp-icon {
  fill: #25d366;
}
