.EmailWidgetContainer {
  position: fixed;
  z-index: 5;
  bottom: 0;
  right: 0;
  transition: height 300ms, width 300ms;
  background: rgb(84 91 141);
}

.EmailWidgetOpenStyle {
  width: 24vmin;
  height: 24vmin;
  padding: 12px;
}
.EmailWidgetOpenStyle > .SendEmailButton {
  display: none;
  width: auto;
  height: auto;
}

.SendEmailContainer {
  display: flex;
  flex-direction: column;
}
.SendEmailCloseButton {
  width: 2vmin;
  cursor: pointer;
  align-self: flex-end;
  height: 2vmin;
}
.SendEmailButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.EmailWidgetClosedStyle > .SendEmailContainer,
.EmailWidgetClosedStyle {
  border-radius: 12px 0 0 0;
  width: 48px;
  height: 48px;
}
.EmailWidgetClosedStyle > .SendEmailButton {
  display: flex;
}

.SendEmailButtonIcon {
  width: 5vmin;
  height: 5vmin;
  background: rgb(250 250 250);
  opacity: 0.9;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 32px;
}

.SendEmailForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.SendEmailForm > label {
  margin-bottom: 6px;
}
.SendEmailFormInput {
  resize: none;
  width: 90%;
}
.SendEmailForm > .SendButton {
  border: none;
  background: rgb(184 191 241);
  margin-top: 1rem;
}
