.summary-section {
  display: flex;
  padding-top: 20px;
  padding-bottom: 12px;
  background: rgb(50, 50, 93);
  padding-left: 1rem;
  opacity: 0;
}
.summary-section ul {
  padding: 0;
  font-size: 13px;
  margin-top: 6px;
}
