.home-page-container {
  font-family: Lato;
}
.home-page-bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(50 50 93);
  z-index: -1;
}
.Section-header {
  margin-bottom: 1rem;
}
.section-subheader {
  color: rgba(255, 255, 255, 0.9);
}

.App-link {
  color: #61dafb;
}
