.HomePageContainer {
}
.Section-header {
  margin-bottom: 1vmin;
}
.Section-subheader {
  color: rgba(255, 255, 255, 0.9);
}
.ExperienceSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2vmax;
  border-left: 1px solid white;
  padding-left: 1vmin;
}
.Experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  justify-content: flex-start;
  margin-bottom: 1vmin;
}

.App-link {
  color: #61dafb;
}
