.experience-section {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  padding-top: 12px;
  padding-bottom: 24px;
  background: rgb(40 40 64);
  padding-left: 1rem;
}
.experience-header {
  font-size: 32px;
  margin-bottom: 12px;
}

.experience-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.experience-item p {
  font-weight: 300;
}
