.ExperienceSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 12px;
  padding-bottom: 24px;
  background: rgba(50, 50, 93, 0.69);
  padding-left: 1vmin;
}
.ExperienceHeader {
  font-size: 32px;
  margin-bottom: 12px;
}

.Experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  justify-content: flex-start;
  margin-bottom: 1vmin;
}
