.hero-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.section-highlight {
  z-index: -1;
  user-select: none;
  opacity: 0.3;
  pointer-events: none;
  background: linear-gradient(
    0deg,
    rgba(93, 81, 218, 1) 0%,
    rgba(93, 81, 218, 1) 12%,
    rgba(168, 192, 255, 1) 42%,
    rgba(161, 182, 252, 1) 59%,
    rgba(99, 89, 221, 1) 78%,
    rgba(99, 89, 221, 1) 100%
  );
  top: -60px;
  height: 320px;
  left: 0;
  width: 100%;
  position: absolute;
}
/* Header */
.RecruiteeHeader {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
}

.recruitee-name {
  display: flex;
  align-items: center;
  padding: 0px 16px 0 12px;
  margin-bottom: 3px;
  font-size: 13vmin;
  border-top: 1px solid #6d8dc1;
  border-radius: 0px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  user-select: none;
  background: #32325d;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.recruitee-headline {
  margin-top: -3px;
  padding: 3px 9px;
  border-bottom: 1px solid #3a3b73;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  user-select: none;
  background: #434184;
  font-weight: 300;
  font-size: 32px;
  z-index: 0;
}
circle {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(3px 6px 2px rgba(0, 0, 0, 0.1));
}

.recruitee-background {
  height: 100vh;
  width: auto;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.recruitee-background > g > g {
  transform: translate(-24%, 5%);
}
.background-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  top: 0;
  z-index: -1;
  left: 0;
}

.next-section-arrow-button:hover > svg {
  fill: rgb(255, 255, 255);
  transition: all 300ms ease-in;
}
.next-section-arrow-button:hover {
  background: rgb(57 58 104);
}
.next-section-arrow-button {
  cursor: pointer;
  padding: 12px;
  z-index: 1;
  transition: all 300ms ease-in;
}
