.hero-section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 36px);
}

/* Header */
.recruitee-header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);

  color: white;
  height: 100vh;
}

.recruitee-name {
  display: flex;
  align-items: center;
  padding: 0px 16px 0 12px;
  border-top-right-radius: 10px;
  margin-bottom: 3px;
  font-size: 13vmin;
  user-select: none;

  overflow: hidden;
  position: relative;
}
.recruitee-headline {
  margin-top: -3px;
  padding: 3px 9px;
  user-select: none;
  font-weight: 300;
  font-size: 32px;
}
circle {
  -webkit-filter: drop-shadow(5px 3px 2.5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(5px 3px 2.5px rgba(0, 0, 0, 0.3));
}

.recruitee-background {
  height: 100vh;
  width: auto;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.recruitee-background > g > g {
  transform: translate(-24%, 5%);
}
.background-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  z-index: -1;
  left: 0;
}

.next-section-arrow-button {
  cursor: pointer;
  padding: 12px;
  z-index: 1;
  transition: all 300ms ease-in;
  &:focus-visible {
    outline: 1px solid var(--themePurple);
  }
  &:hover {
    background: rgba(255, 255, 255, 0.05);
    > svg {
      fill: rgb(255, 255, 255);
      transition: all 300ms ease-in;
    }
  }
}
