@import "../../App.scss";
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 36px;
  margin-left: 12px;
  z-index: 5;
}
.navbar-links {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  button,
  a {
    margin: 0 6px;
    color: $text-color;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
}
