$box-color: #7585ff04;

.scene-container {
  perspective: 800px;
  position: absolute;
  top: 0;
  z-index: -1;
}
.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
}
@keyframes scene-spinning {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}
.floor {
  width: 19rem;
  height: 20rem;
  background: var(--floorColor);
  z-index: -1;
  transform: translate(51%, 76%) rotateX(90deg);
  background-image: url("./Whangaehu.svg");
  position: absolute;
}
.ball {
  height: 2rem;
  border-radius: 100%;
  width: 2rem;
  background: var(--ballColor);
  position: absolute;
}
.cube {
  height: 80px;
  width: 80px;
  position: absolute;
  left: calc(50% - 2rem);
  top: calc(50% - 2rem);
  transform-style: preserve-3d;
  animation: spinning 5s linear 0s infinite;
}
@keyframes bouncing {
  0% {
  }
  10% {
  }
}

@keyframes spinning {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(360deg);
  }
}
.front,
.back,
.top,
.bottom,
.left,
.right {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid rgb(223 154 189);
  box-shadow: 0rem 0rem 0.5rem 0 #883f64 inset;
  transition: background 300ms ease-in;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* rotationAngle === 30deg */
.front {
  background: $box-color;
  transform: translateZ(0rem);
  opacity: 0;
  animation: appear 100ms ease-in 100ms forwards;
}

.back {
  background: $box-color;
  transform: translateZ(80px);
  opacity: 0;
  animation: appear 1s ease-in 200ms forwards;
}
.right {
  background: $box-color;
  transform: translate3d(-40px, 0rem, 40px) rotateY(90deg);
  opacity: 0;
  animation: appear 1s ease-in 300ms forwards;
}
.left {
  background: $box-color;
  transform: translate3d(40px, 0rem, 40px) rotateY(90deg);
  opacity: 0;
  animation: appear 1s ease-in 400ms forwards;
}
.top {
  background: $box-color;
  transform: rotateX(90deg) translate3d(0rem, 40px, 40px);
  opacity: 0;
  animation: appear 1s ease-in 500ms forwards;
}
.bottom {
  background: $box-color;
  transform: rotateX(90deg) translate3d(0rem, 40px, -40px);
  opacity: 0;
  animation: appear 1s ease-in 600ms forwards;
}
