$theme-purple: #53538d;
$theme-pink: #9c72b0;
$text-color: #e9e9e9;
body {
  color: $text-color;
}
.neomorph {
  background: linear-gradient(165deg, #3a404d, #24282f);
  box-shadow: 5px 5px 21px #22252c, -5px -5px 21px #2e333c;
}
